<div class="flex-container prod-container">
  <h2>Productos</h2>
</div>

{{!-- CARDS --}}
<div class="product-cards">
  {{#each products}}
    <div class="product-card" id="{{this.id}}">
      <h2 class="product-name">{{title}}</h2>
      <p class="product-description">{{description}}</p>
      <p class="product-price">${{price}}</p>
      <p class="product-stock">Stock: {{stock}} unidades</p>
      <button class="add-to-cart-button" id="{{this._id}}" onclick="addToCart('{{this._id}}')">Add to Cart</button>
    </div>
  {{/each}}
</div>

{{!-- PAGES --}}
<div class="flex-container pages-container">
  {{#if pagination.hasPrevPage}}
    <a href="{{pagination.prevLink}}" class="pages">
      <span>
        {{pagination.prevPage}}
      </span>
    </a>
  {{/if}}

  <a class="pages actual">
    <span>
      {{pagination.page}}
    </span>
  </a>

  {{#if pagination.hasNextPage}}
    <a href="{{pagination.nextLink}}" class="pages">
      <span>
        {{pagination.nextPage}}
      </span>
    </a>
  {{/if}}
</div>


{{!-- PAGINATION --}}
<div class="pagination">
  <p>totalDocs: <span>{{pagination.totalDocs}}</span></p>
  <p>limit: <span>{{pagination.limit}}</span></p>
  <p>totalPages: <span>{{pagination.totalPages}}</span></p>
  <p>pagingCounter: <span>{{pagination.pagingCounter}}</span></p>
  <p>hasPrevPage: <span>{{pagination.hasPrevPage}}</span></p>
  <p>hasNextPage: <span>{{pagination.hasNextPage}}</span></p>
  <p>prevPage: <span>{{pagination.prevPage}}</span></p>
  <p>nextPage: <span>{{pagination.nextPage}}</span></p>
  <p>nextLink: <span>{{pagination.nextLink}}</span></p>
  <p>prevLink: <span>{{pagination.prevLink}}</span></p>
</div>